* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    color: @chalky-white;
}

h1 {
    font-family: 'Rokkitt', serif;
    font-size: 5rem;
}

h2, h3 {
    font-family: 'IM Fell Great Primer', serif;
    font-size: 2rem;
}

h4 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1rem;
}

header {
    background: @dark-grey;
    .flex(row, space-between, center);
    width: 100%;
    height: 10vh;
    padding: 1rem;

    #title {
        .flex(row, flex-start, center);
        padding: 0rem 1rem;
        text-decoration: none;

        #logo {
            width: 100px;
            height: 100px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    nav {
        .flex(row, flex-end, center);
        flex-grow: 1;
        padding: 0rem 1rem;

        a {
            border: 5px solid @pastel-khaki;
            height: 4rem;
            padding: 0 1rem;
            margin: 0 2rem;
            .flex(row, center, center);
            text-decoration: none;
            color: black;
        }
    }
}

footer {
    background: @dark-grey;
    width: 100%;
    height: 5vh;
    .flex(row, center, center);

    a {
        margin: 0 1rem;
    }
}