.container.all {
    background: pink;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    .flex(column);
}

.box {
    .flex();
}

.homepage {
    background:  @pastel-grey;
    width: 100%;
    flex-grow: 1;
}